[Bb]uild/
.vs/


##### optScan specific

# Allow commit of .obj meshes
!samples/*.obj

# Ignore cloud point output directory
/output

imgui.ini
mergeVertices/data/output.ply
mergeVertices/data/input2Large.ply
mergeVertices/data/input2.ply
mergeVertices/data/input1Large.ply
mergeVertices/data/input1.ply
samples/Rubik_Cube/Cube.stl
samples/Rubik_Cube/Cube.obj
samples/Rubik_Cube/Cube.fbx
samples/Rubik_Cube/Cube.c4d
samples/Rubics_cube/wood/maple.jpg
samples/Rubics_cube/wood/grain light plank maple oak walnut cedar.jpg
samples/Rubics_cube/wood/floor_oak.jpg
samples/Rubics_cube/wood/dark_nutwood.jpg
samples/Rubics_cube/cube.obj
samples/Rubics_cube/cube.mtl
samples/Rubics_cube/cube.fbx
samples/Rubics_cube/cube.blend1
samples/Rubics_cube/cube.blend
samples/Rubics_cube/cube.3ds
samples/Rubics_cube/2.png
samples/cube.obj
samples/cube.mtl
samples/Rubik_Cube/Cube.3ds
samples/Rubik_Cube/.DS_Store
samples/Rubics_cube/wood/wood_panel.jpg
samples/Rubics_cube/wood/wood_brazilian_cherry_20160818_1884237819.jpg
samples/Rubics_cube/wood/bamboo.jpg
samples/Rubics_cube/cube.x3d
samples/Rubics_cube/cube.stl
samples/Rubics_cube/wood/painted_wood.jpg
samples/Rubics_cube/wood/oak_2.jpg
samples/Rubics_cube/wood/oak_1.jpg
samples/Rubics_cube/wood/nutwood.jpg
samples/Rubics_cube/wood/cherry_1.jpg
samples/Rubics_cube/cube.dae
samples/config_commands5.txt
samples/RubixCube.obj
samples/RubixCube.mtl
samples/RubixCube.fbx
samples/RubixCube.dae
samples/Rubik_/robik_cube.max
samples/Rubik_/Robik.obj
samples/Rubik_/Robik.mtl
mergeVertices/data/output_teste_original.xyz
mergeVertices/data/output_4.txt
mergeVertices/data/output_3.txt
mergeVertices/data/output_6.txt
mergeVertices/data/output_5.txt
mergeVertices/data/output_2.txt
mergeVertices/data/output_teste_7meshes.xyz
mergeVertices/data/output_teste_mesh.xyz
mergeVertices/data/output_teste_7meshes_v2.xyz
samples/hammerhead/textures/4.jpg
samples/hammerhead/textures/3.jpg
samples/hammerhead/hammerhead.obj
mergeVertices/data/Robik/output_0.txt
samples/M06_Completo.obj
samples/Galpao_New.obj
samples/Galpao.obj
mergeVertices/data/rubik_teste.xyz
mergeVertices/data/galpao/output_6.txt
mergeVertices/data/galpao/output_5.txt
mergeVertices/data/galpao/output_4.txt
mergeVertices/data/galpao/output_3.txt
mergeVertices/data/galpao/output_2.txt
mergeVertices/data/galpao/output_1.txt
mergeVertices/data/galpao/output_0.txt
mergeVertices/data/galpao/galpao_teste.xyz
mergeVertices/data/config2.txt
mergeVertices/data/config1.txt
mergeVertices/data/Robik/output_6.txt
mergeVertices/data/Robik/output_5.txt
mergeVertices/data/Robik/output_4.txt
mergeVertices/data/Robik/output_3.txt
mergeVertices/data/Robik/output_2.txt
mergeVertices/data/Robik/output_1.txt
samples/hammerhead/hammerhead.mtl
samples/hammerhead/hammerhead.fbx
samples/config_commands6.txt
samples/M06_Vigas_Piso.obj
samples/tree/Perspectives/AL05y_pers.tif
samples/tree/Perspectives/AL05m_pers.tif
samples/tree/Perspectives/AL05a_pers.tif
samples/tree/Billboards/AL05y_bill.tif
samples/tree/Billboards/AL05m_bill.tif
samples/tree/Billboards/AL05a_bill.tif
samples/tree/logo.jpg
samples/tree/Usage_ALL.htm
mergeVertices/data/ANM/ANM_cloud - 30k.xyz
mergeVertices/data/ANM/ANM_cloud - 10k.xyz
samples/Hyophorbe_lagenicaulis.obj
mergeVertices/data/to_merge/output_7.txt
mergeVertices/data/rubik_cube.xyz
mergeVertices/data/galpao_teste.xyz
mergeVertices/data/Robik/rubik_cube.xyz
mergeVertices/data/Robik/output_7.txt
mergeVertices/data/ANM/ANM_cloud.xyz
mergeVertices/data/ANM/ANM_cloud - 50k.xyz
samples/tree/OMruler.tif
samples/tree/AL05y.xfr
samples/tree/AL05y.obj
samples/tree/AL05y.mtl
samples/tree/AL05twg_b.tif
samples/tree/AL05twg.tif
samples/tree/AL05m.xfr
samples/tree/AL05m.obj
samples/tree/AL05m.mtl
samples/tree/AL05brk_b.tif
samples/tree/AL05brk.tif
samples/tree/AL05aut_a.tif
samples/tree/AL05aut.tif
samples/tree/AL05a.xfr
samples/tree/AL05a.obj
samples/tree/AL05a.mtl
samples/rock10_obj.obj
